SQL_ALCHEMY_URI = 'mysql+pymysql://username:password@server/db_name?charset=utf8mb4'
# Generated using `age-keygen` command, https://github.com/FiloSottile/age
ENCRYPTION_KEY = 'AGE-SECRET-KEY-000000000000000000000000'
