bcrypt==3.1.5
cffi==1.11.5
falcon==1.4.1
gitdb2==2.0.5
GitPython==2.1.11
gunicorn==19.9.0
humanfriendly==4.17
lockfile==0.12.2
multipart==0.1
mysqlclient==1.3.14
olefile==0.46
Pillow==5.4.1
py-dateutil==2.2
pycparser==2.19
pypandoc==1.4
pyparsing==2.3.1
python-magic==0.4.15
python-mimeparse==1.6.0
pytz==2018.9
six==1.12.0
smmap2==2.0.5
SQLAlchemy==1.2.16
